.about{

        h1{
                color: #5f992c;
                font-size: 60px;
                text-align: center;
                margin: 200px 0 80px;
        }

        p{
                color: black;
                font-size: 24px;
                text-align: center;
                margin-bottom: 200px;


        }
}
