.about{
    h1{
        color: #5f992c;
        font-size: 40px;
        text-align: center;
        margin: 60px 0 60px;
    }

    p{
        color: white;
        font-size: 24px;
        text-align: center;
        background: url("../images/bg.png") no-repeat center center;
        background-size: cover;

    }
}
