.admin {

		.adminWrapper{
				 border: 1px solid #ccc;
				border-radius: 20px;
				margin: 100px 0 93px;
				padding: 32px;
		}
		h1 {
				text-align: center;
				font-size: 40px;
				color: black;
				margin-bottom: 50px;
		}
		.btn-danger {
				height: auto;
				width: auto;
				margin-bottom: 20px;
				background-color: darkgreen;
				border: none;
				p {
						color: white;
						font-size: 24px;
				}
		}
}

#updateHealer{
	margin: 135px 0 40px;

	h1{
		color: black;
	}
}


#addHealer{

		margin-top: 13px;
		border: 1px solid #ccc;
		padding: 16px;
		border-radius: 10px;
		margin-bottom: 20px;
}

.deleteHealer {
		h1 {
				text-align: center;
				color: antiquewhite;
				font-size: 40px;
		}

				.listHealer {
				text-align: center;
								color: green;
						font-size: 22px;

						table{
								color: green;

						}
				label {
						span {
								font-size: 24px;
								color: forestgreen;
						}
				}
		}
}

#viewHealerList{
		margin-top: 159px;
		border: 1px solid #ccc;
		padding: 16px;
		border-radius: 10px;
		margin-bottom: 153px;

		h1{
				color: black;
		}
}



.healer {
		h1 {
				text-align: center;
				font-size: 40px;
				color: darkgreen;
				margin-bottom: 50px;
				margin-top: 80px;
		}
		.btn-danger1 {
				height: 50px;
				width: auto;
				margin-bottom: 20px;
				background-color: darkgreen;
				border: none;
				margin-left: 275px;
				@media screen and (max-width: $screen-xs-max) {
						margin-left: 56px;
				}

				p {
						color: white;
						font-size: 24px;
				}
		}
		.btn-danger2 {
				height: 50px;
				width: auto;
				margin-bottom: 20px;
				background-color: darkgreen;
				border: none;
				margin-right: 275px;
				@media screen and (max-width: $screen-xs-max) {
						margin-left: 56px;
				}
				p {
						color: white;
						font-size: 24px;
				}
		}
}
