.healerPage{
    img{
        margin: 45px 0 20px;


    }

    p{
        font-size: 16px;
        color: green;
        font-weight: bold;

        &:last-child{
            margin-top: 72px;
            font-size: 24px;
            font-weight: normal;
        }
    }

    #healerInfo{
        ul{
            list-style: none;

            li{
                color: antiquewhite;
            }
        }
    }

    .btn-danger{
        background-color: darkgreen;
        border: none;



        a{
            color: white;

        }

    }



}

#tableList {
    margin-top: 100px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 50px;

    h1{
        color: black;
    }
}

.comments{
    margin-bottom: 40px;
    h1{
        text-align: center;
        color: green;
        margin-top: 68px;
    }

    ul{
        text-align: center;
        list-style: none;

        li{
            color: black;
        }

    }

    .btn-danger{
         @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 20px;
        }
    }

}

.like{
    color: green;
}

.appointment{
   color: green;
   position: absolute;
   right: 212px;
    text-decoration: underline;


}

.bell{
  margin: 37px 80px 0;
  font-size: 25px;

}

            .badge-notify{
             background:red;
             position:absolute;
             top:0px;
            }


#allHealers{
    margin-top: 150px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 133px;

    h1{
        color: black;
    }
}

.offered{
    span{
        padding-left: 280px;

        a{
            color: green;
        }
    }
}
