.healerPage{
    img{
        margin: 45px 0 20px;


    }

    p{
        font-size: 16px;
        color: green;
        font-weight: bold;

        &:last-child{
            margin-top: 72px;
            font-size: 24px;
            font-weight: normal;
        }
    }

    #healerInfo{
        ul{
            list-style: none;

            li{
                color: antiquewhite;
            }
        }
    }

    .btn-danger{
        background-color: darkgreen;
        border: none;



        a{
            color: white;

        }

    }



}

.comments{
    h1{
        text-align: center;
        color: green;
        margin-top: 68px;
    }

    ul{
        text-align: center;
        list-style: none;

        li{
            color: black;
        }

    }

    .btn-danger{
         @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 20px;
        }
    }

}

