#loginForm{
    margin-top: 200px;

    h1{
        color:#5f992c;

    }

    .btn-danger{
        background-color: forestgreen;
        border: none;
        height: 45px;
        width: 90px;
        margin-bottom: 20px;
        margin-top: 10px;

        a{
            color: white;
        }
    }

    p{
        margin-top: 20px;
        font-size: 18px;

        a{
            color: black;
        }
    }
}


