.addHealer{
     h1{
        color:antiquewhite;
        margin-top: -81px;
    }

    .btn-danger{
        float: right;
    }

    .back2{
        img{
            float: left;
            margin-top: 10px;
        }
    }


}
