.badge-notify {
    background: red;
    position: absolute;
    top: 4px;
    left: -4px;
}

.wrapActions{
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 100px 0 99px;
}


.postProduct{
    margin: 50px 0 50px;
     border: 1px solid #ccc;
    border-radius: 20px;

}

 .postProductForm{

        margin-top: 150px;
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 10px;
     margin-bottom: 100px;
}



