.view{
    h1{
        color: #1db725;
        text-align: center;
        margin-bottom: 50px;
    }

    .backView{
        img{
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

}

.service-product{
        background: url("../images/bg.png") no-repeat center center;
        background-size: cover;

    .btn-danger{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h2{
        color: white;
    }

    p{
        color: white;
        font-size: 16px;
    }

    img{
        margin: 20px 0 20px;
    }

}


